data/gists/*
data/all-the-gists/*
node_modules/*
.DS_Store
data/gist-metadata/201511-archive/*
data/gist-metadata/201605-archive/*
data/gist-metadata/input/*
data/gist-metadata/archive/*
data/gist-metadata/output/archive/*